<a href="https://colab.research.google.com/github/jejejenojiei/Prog2kakushin/blob/main/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#プログラミングII 第12回演習課題
* pandasライブラリを用いて、都道府県、ご飯or食パンor中華麺、消費量or支出額を入力すると、その都道府県の令和一年度における選択した食材の一人当たりの消費量、又は支出額の順位を表示します。  
なお、参考とするURL:[消費量の都道府県ランキング一覧](https://region-case.com/list-rank-consume/)から、csvファイルを作成するものとする

追記：中華麺の字体は"麺"です

In [45]:
import pandas as pd
df=pd.read_csv("ご飯.csv")
df2=pd.read_csv("食パン.csv")
df3=pd.read_csv("中華麺.csv")

name=input("ご飯 or 食パン or 中華麺？:")
value=input("消費量 or 支出額？:")
place=input("都道府県？：")
if name=="ご飯":
  dfans=df[df["都道府県"].str.contains(str(place))]
  if value=="消費量":
    dfans=dfans.drop("金額",axis=1)
  if value=="支出額":
    dfans=dfans.drop("数",axis=1)
if name=="食パン":
  dfans=df2[df2["都道府県"].str.contains(str(place))]
  if value=="消費量":
    dfans=dfans.drop("金額",axis=1)
  if value=="支出額":
    dfans=dfans.drop("数",axis=1)
if name=="中華麺":
  dfans=df3[df3["都道府県"].str.contains(str(place))]
  if value=="消費量":
    dfans=dfans.drop("金額",axis=1)
  if value=="支出額":
    dfans=dfans.drop("数",axis=1)
dfans

ご飯 or 食パン or 中華麺？:中華麺
消費量 or 支出額？:消費量
都道府県？：北海道

  都道府県      数   順位
0  北海道  33.3食  04位